# =====================
# SYSTEM & ENVIRONMENT
# =====================
.DS_Store
Thumbs.db
*.log
.env
.env.*

# =====================
# NODE / DEPENDENCIES
# =====================
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# =====================
# BUILD OUTPUT
# =====================
dist/
build/
*.tmp
.cache/

# =====================
# PERSONAL / EDITOR FILES
# =====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =====================
# TAILWIND CSS OUTPUT
# =====================
style.css
style.css.map

# =====================
# IGNORE LOCAL UPLOADS
# =====================
img/uploads/
