RewriteEngine On
RewriteBase /

# Jangan rewrite kalau file atau folder beneran ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite slug ke article.php
RewriteRule ^([a-zA-Z0-9-]+)$ article.php?slug=$1 [L,QSA]
